<div *ngIf="loading" class="d-flex justify-content-center my-5">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!loading">
  <div class="container-md">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand"></a>
      <button class="btn btn-outline-success" type="submit" (click)="logout()">
        Salir App
      </button>
    </nav>

    <h2 class="my-4">{{ listTitle }}</h2>
    <button
      type="button"
      class="mb-4 btn btn-primary"
      (click)="onButtonNewClick()"
    >
      Contratación
    </button>
    <div class="mb-2 row g-4 align-items-center">
      <div class="col-auto">
        <input
          class="form-control"
          type="text"
          id="filter"
          [(ngModel)]="searchTerm"
          placeholder="Buscar por nombre..."
          (input)="filterData()"
        />
      </div>
    </div>

    <table class="table table-striped mb-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Apellido</th>
          <th scope="col">Nombre</th>
          <th scope="col">Correo Electrónico</th>
          <th scope="col">Puesto</th>
          <th scope="col">Fecha de Nacimiento</th>
          <th scope="col">Creado</th>
          <th scope="col" class="text-center">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of filteredData; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ employee.lastname }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.position }}</td>
          <td>{{ employee.birthday | date : "dd/MM/yyyy" }}</td>
          <td>{{ employee.createdAt | date : "dd/MM/yyyy" }}</td>
          <td>
            <div class="d-flex flex-wrap gap-2">
              <button
                type="button"
                class="btn btn-outline-primary"
                (click)="onButtonEditClick(employee)"
              >
                Editar
              </button>
              <button
                [disabled]="employee._id !== employeeId"
                type="button"
                class="btn btn-outline-danger"
                (click)="openModal(employee)"
              >
                Eliminar
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-modal
  [showModal]="showModal"
  (closeModalEvent)="closeModal()"
  (cancelEvent)="onCancel()"
  (okEvent)="onOk()"
  [itemId]="selectedEmployeeId"
>
  <h2>¿Confirma eliminar el empleado?</h2>
  <p>Esta acción no se puede revertir.</p>
</app-modal>

<app-toast [messageToast]="messageToast" [showToast]="showToast"
[toastType]="toastType"> </app-toast>