<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-center">Nueva Contraseña</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="passwordRecoveryForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
              <label for="pass">Nueva contraseña</label>
              <input
                type="password"
                id="pass"
                class="form-control"
                formControlName="pass"

                required
              />
            </div>
            <div class="form-group mb-3">
              <label for="repass">Confirmar contraseña</label>
              <input
                type="password"
                id="repass"
                class="form-control"
                formControlName="repass"

                required
              />
              <div
                *ngIf="
                  (passwordRecoveryForm.get('pass')?.value !==
                    passwordRecoveryForm.get('repass')?.value ||
                  passwordRecoveryForm.get('pass')?.invalid ||
                  passwordRecoveryForm.get('repass')?.invalid )&&passwordRecoveryForm.get('repass')?.touched
                "
                class="text-danger"
              >
                Las contraseñas deben ser válidas e iguales.
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary w-100"
              [disabled]="passwordRecoveryForm.get('pass')?.value !==
              passwordRecoveryForm.get('repass')?.value ||
            passwordRecoveryForm.get('pass')?.invalid ||
            passwordRecoveryForm.get('repass')?.invalid"
            >
              Enviar Solicitud
            </button>
          </form>
        </div>
      </div>
      <ngb-alert class="mt-3" [type]="type" *ngIf="message">{{
        message
      }}</ngb-alert>
    </div>
  </div>
</div>
